# **IoT Application - Preprocessing**

In  this notebook we will develop a script to import a dataset about Air Quality. 

We will perform data cleaning and preprocessing for the next steps of our project.

In [1]:
# Data processing and visalization
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')
%matplotlib inline

# Exploratory Data Analysis
We will start by reading the data

In [2]:
air_df = pd.read_csv('../datasets/AirQuality.csv',sep=';') 
# Dataset separates its columns using ; hence the argument sep=';'

We will our EDA process by following those steps :
- Print the keys, the first few elements, the data frame info and its summary statistics.
- Verify if any values are NaN
- Plot the distribution of the target
- Investigate the correlations
- Investigate the trends

Let's run some general functions on the dataframe to understand what we are working on

In [3]:
air_df.keys()

Index(['Date', 'Time', 'CO(GT)', 'PT08.S1(CO)', 'NMHC(GT)', 'C6H6(GT)',
       'PT08.S2(NMHC)', 'NOx(GT)', 'PT08.S3(NOx)', 'NO2(GT)', 'PT08.S4(NO2)',
       'PT08.S5(O3)', 'T', 'RH', 'AH', 'Unnamed: 15', 'Unnamed: 16'],
      dtype='object')

In [4]:
air_df.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
0,10/03/2004,18.00.00,"2,6",1360.0,150.0,"11,9",1046.0,166.0,1056.0,113.0,1692.0,1268.0,"13,6","48,9","0,7578",NaN,NaN
1,10/03/2004,19.00.00,2,1292.0,112.0,"9,4",955.0,103.0,1174.0,92.0,1559.0,972.0,"13,3","47,7","0,7255",NaN,NaN
2,10/03/2004,20.00.00,"2,2",1402.0,88.0,"9,0",939.0,131.0,1140.0,114.0,1555.0,1074.0,"11,9","54,0","0,7502",NaN,NaN
3,10/03/2004,21.00.00,"2,2",1376.0,80.0,"9,2",948.0,172.0,1092.0,122.0,1584.0,1203.0,"11,0","60,0","0,7867",NaN,NaN
4,10/03/2004,22.00.00,"1,6",1272.0,51.0,"6,5",836.0,131.0,1205.0,116.0,1490.0,1110.0,"11,2","59,6","0,7888",NaN,NaN

In [5]:
air_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9471 entries, 0 to 9470
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   object
 1   Time           9357 non-null   object
 2   CO(GT)         9357 non-null   object
 3   PT08.S1(CO)    9357 non-null   float64
 4   NMHC(GT)       9357 non-null   float64
 5   C6H6(GT)       9357 non-null   object
 6   PT08.S2(NMHC)  9357 non-null   float64
 7   NOx(GT)        9357 non-null   float64
 8   PT08.S3(NOx)   9357 non-null   float64
 9   NO2(GT)        9357 non-null   float64
 10  PT08.S4(NO2)   9357 non-null   float64
 11  PT08.S5(O3)    9357 non-null   float64
 12  T              9357 non-null   object
 13  RH             9357 non-null   object
 14  AH             9357 non-null   object
 15  Unnamed: 15    0 non-null      float64
 16  Unnamed: 16    0 non-null      float64
dtypes: float64(10), object(7)
memory usage: 1.2+ MB

In [6]:
# We can drop columns 15 and 16 as they seem to not have any data meaning
air_df.drop(['Unnamed: 15','Unnamed: 16'],axis=1,inplace=True)


# Some of the columns show up as 'objects' because the original dataframe uses commas instead of points to write decimal numbers.
# Let's resolve both of those issues 

#Replacing "," with "."
air_df.iloc[:,2] = air_df.iloc[:,2].replace(',','.',regex=True)
air_df.iloc[:,5] = air_df.iloc[:,5].replace(',','.',regex=True)
air_df.iloc[:,12] = air_df.iloc[:,12].replace(',','.',regex=True)
air_df.iloc[:,13] = air_df.iloc[:,13].replace(',','.',regex=True)
air_df.iloc[:,14] = air_df.iloc[:,14].replace(',','.',regex=True)

#Changing dtypes to float64
air_df = air_df.astype({'CO(GT)':'float64',
             'C6H6(GT)':'float64',
             'T':'float64',
             'RH':'float64',
             'AH':'float64'})

In [7]:
air_df.shape

(9471, 15)

In [8]:
# Let's see the number of rows with missing data
air_df.isnull().sum()

Date             114
Time             114
CO(GT)           114
PT08.S1(CO)      114
NMHC(GT)         114
C6H6(GT)         114
PT08.S2(NMHC)    114
NOx(GT)          114
PT08.S3(NOx)     114
NO2(GT)          114
PT08.S4(NO2)     114
PT08.S5(O3)      114
T                114
RH               114
AH               114
dtype: int64

In [9]:
air_df.duplicated().sum()

np.int64(113)

In [10]:
# 114 rows out of 9471 entries isn't going to impact our analysis much, so we will just get rid of those rows and the duplicated rows.
air_df.dropna(inplace=True)
air_df.drop_duplicates(inplace=True,ignore_index=True)

In [11]:
air_df.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,10/03/2004,18.00.00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,10/03/2004,19.00.00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,10/03/2004,20.00.00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,10/03/2004,21.00.00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,10/03/2004,22.00.00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888

In [12]:
air_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   object
 1   Time           9357 non-null   object
 2   CO(GT)         9357 non-null   float64
 3   PT08.S1(CO)    9357 non-null   float64
 4   NMHC(GT)       9357 non-null   float64
 5   C6H6(GT)       9357 non-null   float64
 6   PT08.S2(NMHC)  9357 non-null   float64
 7   NOx(GT)        9357 non-null   float64
 8   PT08.S3(NOx)   9357 non-null   float64
 9   NO2(GT)        9357 non-null   float64
 10  PT08.S4(NO2)   9357 non-null   float64
 11  PT08.S5(O3)    9357 non-null   float64
 12  T              9357 non-null   float64
 13  RH             9357 non-null   float64
 14  AH             9357 non-null   float64
dtypes: float64(13), object(2)
memory usage: 1.1+ MB

In [13]:
def remove_outliers(data, column, lower_quantile=0.01, upper_quantile=0.99):
    # Calculate the lower and upper quantile values
    lower_bound = data[column].quantile(lower_quantile)
    upper_bound = data[column].quantile(upper_quantile)
    
    # Filter the DataFrame to include only rows within the quantile bounds
    filtered_data = data[(data[column] > lower_bound) & (data[column] < upper_bound)]
    
    return filtered_data

# We drop the column NMHC(GT) because it contains a large number of -200 values
no_nmhc_df = air_df.copy()
no_nmhc_df.drop(['NMHC(GT)'],axis=1,inplace=True)
no_nmhc_df = no_nmhc_df[~(no_nmhc_df == -200).any(axis=1)]

air_df = remove_outliers(air_df, 'T', lower_quantile=0.10, upper_quantile=0.90)

In [14]:
# First line removes rows with -200, second replaces -200 with an empty string. Use either one depending on what is needed.
# air_df = air_df[~(air_df == -200).any(axis=1)]
air_df.replace(-200, '', inplace=True)

In [15]:
# rows=5
# cols=3
# fig, axes = plt.subplots(nrows=rows, ncols=cols,figsize=(15,15))
# for i, feature in zip(range(len(air_df.keys())), air_df.keys()):
#     r,c = i%rows, i%cols
#     air_df.plot(x='Date', y=feature, kind='scatter', ax=axes[r,c], color='b')


# # plt.tight_layout()
# plt.show()


# 
columns_to_replace = ['T', 'RH', 'AH', 'C6H6(GT)','CO(GT)']

for column in columns_to_replace:
    # Convert to string, replace '.', and then convert back to original type if needed
    no_nmhc_df[column] = no_nmhc_df[column].astype(str).str.replace('.', ',', regex=False)
    air_df[column] = air_df[column].astype(str).str.replace('.', ',', regex=False)

In [16]:
air_df.to_csv('./output_data/air_df_wrong_format.csv',sep=';',index=False)
no_nmhc_df.to_csv('./output_data/no_nmhc_df_wrong_format.csv',sep=';',index=False)

In [18]:
float_columns = air_df.select_dtypes(include=['float64']).columns
air_df[float_columns] = air_df[float_columns].applymap(lambda x: f"{int(x)}" if x.is_integer() else f"{x}")
air_df.to_csv('./output_data/air_df_correct_format.csv', sep=';', index=False)

/var/folders/km/7bwvm63d7391crm7zdzvn4pc0000gn/T/ipykernel_19952/529321704.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  air_df[float_columns] = air_df[float_columns].applymap(lambda x: f"{int(x)}" if x.is_integer() else f"{x}")

In [19]:
float_columns = no_nmhc_df.select_dtypes(include=['float64']).columns
no_nmhc_df[float_columns] = no_nmhc_df[float_columns].applymap(lambda x: f"{int(x)}" if x.is_integer() else f"{x}")
no_nmhc_df.to_csv('./output_data/no_nmhc_correct_format.csv', sep=';', index=False)

/var/folders/km/7bwvm63d7391crm7zdzvn4pc0000gn/T/ipykernel_19952/3011539221.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  no_nmhc_df[float_columns] = no_nmhc_df[float_columns].applymap(lambda x: f"{int(x)}" if x.is_integer() else f"{x}")

Few notes : 

Original dataset file size is 766.7KB, with 2 empty columns.
It had 17 columns and 9741 rows.

The dataset no_nmhc_correct_format has a file size of 516.3KB. We are going to use this dataset for our analysis.
It has 14 columns and 6941 rows. We removed the 2 columns that were left empty in the original dataset and we removed the column NMHC(GT) as it had a large number of rows with -200 value (-> meaning no data was recorded that data).

The dataset air_df_correct_format has a file size of 64.9KB. It is much smaller because we didnt remove the column NMHC(GT), so we had to remove a lot of rows. It has 15 columns and 827 rows.

Of the original number of rows, 70% are usable and have been saved to output_deleted_column in the case of removing the column NMHC(GT).
If we do not remove this column and instead choose to remove the rows where no data was recorded for NMHC(GT), we end up with 8% of the original dataset which didn't seem satisfactory.

In [20]:
no_nmhc_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6941 entries, 0 to 9356
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           6941 non-null   object
 1   Time           6941 non-null   object
 2   CO(GT)         6941 non-null   object
 3   PT08.S1(CO)    6941 non-null   object
 4   C6H6(GT)       6941 non-null   object
 5   PT08.S2(NMHC)  6941 non-null   object
 6   NOx(GT)        6941 non-null   object
 7   PT08.S3(NOx)   6941 non-null   object
 8   NO2(GT)        6941 non-null   object
 9   PT08.S4(NO2)   6941 non-null   object
 10  PT08.S5(O3)    6941 non-null   object
 11  T              6941 non-null   object
 12  RH             6941 non-null   object
 13  AH             6941 non-null   object
dtypes: object(14)
memory usage: 813.4+ KB

In [21]:
air_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7470 entries, 0 to 9356
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           7470 non-null   object
 1   Time           7470 non-null   object
 2   CO(GT)         7470 non-null   object
 3   PT08.S1(CO)    7470 non-null   object
 4   NMHC(GT)       7470 non-null   object
 5   C6H6(GT)       7470 non-null   object
 6   PT08.S2(NMHC)  7470 non-null   object
 7   NOx(GT)        7470 non-null   object
 8   PT08.S3(NOx)   7470 non-null   object
 9   NO2(GT)        7470 non-null   object
 10  PT08.S4(NO2)   7470 non-null   object
 11  PT08.S5(O3)    7470 non-null   object
 12  T              7470 non-null   object
 13  RH             7470 non-null   object
 14  AH             7470 non-null   object
dtypes: object(15)
memory usage: 933.8+ KB